* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.header {
    font-size: 8vh;
    font-family: "Lucida Console", "Monaco", monospace;
    font-weight: bolder;
    color: #5e5e5e;
}

.buttons {

    display: flex;
    gap: 5em;
}

button {
    font-size: 3vh;
    background-color: white;
    padding: 0.4em;
    width: 5em;
    color: #4392f1;
    border-radius: 10px;
    border: 3px solid #5e5e5e;
    font-weight: bold;
}

.container {
    display: grid;
    width: 100vmin;
    height: 80vmin;
    grid-template-columns: repeat(4, auto);
    background-color: black;
    border: 2px solid black;
    gap: 2px;
}

.gridPoint {
    background-color: rgb(128, 112, 172);
}