* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #9d96b8;
    gap: 3vh;
}

.header {
    text-align: center;
    font-size: 10vh;
    font-family: "Lucida Console", "Monaco", monospace;
    font-weight: bolder;
}

button {
    font-size: 3vh;
}

.container {
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #7c5869;
    gap: 1px;
    padding: 50px;
    margin: 10vh;
}

.off {
    background-color: white;
}

.on {
    background-color: grey;
}